<div class="row">
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to "Edit", edit_article_path(@article), :class => "btn btn-warning" %>
<%= link_to "Delete", article_path(@article),
method: :delete,
data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
<%= link_to "Go back", articles_path(@article), :class => "btn btn-primary" %>
</div>
